[DB_CONFIG]
host=128.199.203.161
user=postgres
port=5432
passwd=1234
db=rmrm
rm_table=personal
memo_table=memo
accounts_table=accounts
mail_table=mail_data
sms_table=sms_data
position_table=position
html_table=rm_html
education_table=education_data
career_table=career_data
mail_history=mail_history
sms_history=sms_history


[FILE_PATH]
root=/Users/koh/resume_project
top_school=%(root)s/top_school.list
crawler_school=%(root)s/crawler_school.list
chromedriver=/Users/koh/Downloads/chromedriver
LOG_PATH=%(root)s/log
EXLOG_PATH=%(root)s/ex_log

[CONTACT]
mail_key=98ff5f435fcc01dc4c8358fb2103cf4f-b3780ee5-a0cbc470
domain=sandbox9dba5751fa194e8680d7ceb7e153ac50.mailgun.org
api_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhZG1pbiIsImlhdCI6MTU0Njk1NDUxOCwiZXhwIjo0MTAyNDQ0ODAwLCJ1aWQiOjY2NDQyLCJyb2xlcyI6WyJST0xFX1VTRVIiXX0.Pbuo2k5nk3cltrBtmC9vTTEWpAMlz_IS62uxQS3Djpw

[LOGGING]
LOG_FORMAT="%(asctime)s > %(message)s"